<h1>Do Your Thing:</h1>
<br>
<form role="form" ng-submit="addCustomer()">
  <div class="row">
    <div class="input-group">
      <input type="text" ng-model="_username" placeholder="Email" class="form-control"  >
      <br><br>
      <input type="text" ng-model="_password" placeholder="Password" class="form-control" >
      <br><br>
      <div style="clear:both;">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Sign Up">
        </span>
      </div>
      <br>
    </div>
  </div>
</form>
